/*======= Grid ======= */
.projects {
    position: absolute;
    left: 40%;
    top: 40%;
}

.projects__header {
    position: relative;
    color: var(--grey-sweet);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    width: 100%;
    height: 2.25rem;
    border-bottom: 2px solid;
    border-radius: .25rem .25rem 0 0;
    border-image: var(--purple-pink-sweet);
    background-color: var(--dark-sweet);
}

.projects__path {
    width: clamp(120px, 40%, 200px);
    height: 60%;
    padding: 0 .3rem;
    display: flex;
    align-items: center;
    border-radius: .25rem;
    background-color: var(--blue-sweet);
    overflow: hidden;
}

.path__name {
    padding-bottom: .05rem;
}

.path__icon {
    font-size: .6rem;
    margin-right: .3rem;
    color: hsl(272, 81%, 66%);
}

.projects__logo {
    width: 14px;
}

.projects__box {
    width: 70vw;
    max-width: 800px;
    padding: 2rem;
    max-height: calc(100vh - 100px);
    border-radius: 0 0 .25rem .25rem;
    background-color: var(--dark-sweet2);
    overflow-y: scroll;
}

.projects__sun {
    width: 200px;
    margin: 1rem auto;
}

.projects__top {
    text-align: center;
}

.projects__items {
    display: flex;
}

.projects__files {
    display: flex;
    gap: 4rem;
    padding: 2rem;
    border-radius: 0 0 .5rem;
}

.projects__folder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--blue-sweet);
}

.projects__folder:hover {
    cursor: pointer;
}

.projects__icon {
    width: 200px;
    height: 200px;
    border-radius: .5rem;
}

.projects__text {
    font-size: .875rem;
    margin-top: .25rem;
}

.projects__img {
    position: absolute;
    top: 0px;
    right: -100%;
}

.project__img {
    width: 256px;
    height: 160px;
    border-radius: 0 0 .5rem .5rem;
}