@media screen and (min-width: 800px) {
    .mid {
        height: calc(40vh - 2rem);
    }

    .mid .col:nth-child(1) {
        width: 30%;
    }
    .mid .col:nth-child(2) {
        width: 50%;
    }
    .mid .col:nth-child(3) {
        width: 10%;
    }
    .mid .col:nth-child(4) {
        width: 10%;
    }
}