.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: repeating-linear-gradient(rgba(255, 255, 255, 0.05) 0,
            transparent 1px,
            transparent 2px,
            rgba(255, 255, 255, 0.05) 3px);
    pointer-events: none;
    z-index: -1;
}
