.file-1 {
    position: absolute;
}


.file__box {
    display: flex;
    width: 70vw;
    max-width: 800px;
    min-height: 400px;
    max-height: calc(100vh - 100px);
    border-radius: 0 0 .25rem .25rem;
    overflow-y: auto;
    text-align: center;
    background-color: var(--purple-cp);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.file__img {
    width: 50%;
    object-fit: cover;
    object-position: center center;
}

.file__content {
    width: 50%;
}

.file__title {
    font-size: 1.5rem;
    color: var(--yellow-cp);
    margin: .75rem 0;
}

.file__text {
    max-width: 80%;
    margin: 0 auto;
}