html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--first-font);
    font-weight: var(--font-regular);
    font-size: var(--normal-font-size);
    color: var(--white-vhs);
    background-color: var(--dark-purple);
    /*background-image: url('../img/retrowave-sun.png');
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;*/
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--second-color);
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== CLASSES REUTILIZÁVEIS ===============*/
.row {
    display: inherit;
}

.p-1 {
    padding: .25rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    display: none;
    background-color: var(--third-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-grey);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-grey-alt);
    cursor: pointer;
}

/*=============== RESPONSIVE ===============*/
@media screen and (min-width: 800px) {
    .row {
        display: flex;
        flex-direction: row;
    }

    .p-1 {
        padding: .5rem;
    }
}