@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: DOS;
    src: url('../fonts/ModernDOS8x16.ttf') ;
}

@font-face {
    font-family: DeterminationMono;
    src: url('../fonts/DeterminationMonoWebRegular-Z5oq.ttf') ;
}
:root {
    /*========== Colors ==========*/

    --purple: hsl(244, 41%, 41%);
    --purple2: hsl(257, 97%, 34%);
    --green: hsl(99, 55%, 44%);
    --yellow: hsl(36, 81%, 69%);
    --grey: hsl(216, 17%, 12%);
    --grey-blue: hsl(216, 14%, 28%);
    --blue: hsl(223, 92%, 20%);
    --dark-blue: hsl(234, 100%, 15%);
    --cream: hsl(28, 79%, 85%);
    --cream2: hsl(45, 100%, 84%);
    --cream3: hsl(61, 100%, 83%);
    --blue-grey: hsl(220, 15%, 20%);
    --blue-grey-alt: hsl(220, 15%, 26%);
    --third-color: hsl(215, 21%, 11%);
    --white: hsl(0, 0%, 100%);
    --ice: hsl(221, 100%, 91%);
    --body-color: hsl(225, 22%, 4%);

    /*========== Font and typography ==========*/
    /*font-family: 'Fira Code', monospace;
    */

    --first-font: DeterminationMono;
    --r2-fs: 2rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --r125-fs: 1.25rem;
    --r1-fs: 1rem;
    --normal-font-size: .75rem;
    --tiny-font-size: .625rem;

    /*========== Font weight ==========*/
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;

    /*========== z index ==========*/
    --z-after: -1;
    --z-img: 1;
    --z-fixed: 10;
    --z-menu: 100;

    /*========== Grid ==========*/
    --grid-color: hsl(255, 22%, 6%);
    --grid-size: 30px;
}

/*=============== RESPONSIVE ===============*/
@media screen and (min-width: 1024px) {
    :root {
        --normal-font-size: .75rem;
    }
}