@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700;800&display=swap');

@font-face {
    font-family: DOS;
    src: url('../fonts/ModernDOS8x16.ttf');
}

@font-face {
    font-family: DeterminationMono;
    src: url('../fonts/DeterminationMonoWebRegular-Z5oq.ttf');
}

:root {
    /*========== Colors ==========*/
    --white: hsl(0, 0%, 100%);
    --ice: hsl(221, 100%, 91%);
    --dark-blue: hsl(231, 15%, 18%);
    --dark-purple: hsl(229, 16%, 14%);
    --pink: hsl(348, 83%, 73%);
    --green: hsl(172, 67%, 61%);
    --yellow: hsl(23, 83%, 70%);
    --violet: hsl(232, 83%, 75%);
    --purple: hsl(286, 61%, 66%);
    --blue: hsl(186, 84%, 71%);
    --grey: hsl(0, 0%, 86%);

    /*========== Font and typography ==========*/
    /*font-family: 'Fira Code', monospace;
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Source Code Pro', monospace;
    font-family: 'JetBrains Mono', monospace;
    font-family: Hack, monospace;
    */

    --first-font:  'Source Code Pro', monospace;
    --second-font: 'Bebas Neue', cursive;
    --r2-fs: 2rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --r125-fs: 1.25rem;
    --r1-fs: 1rem;
    --r0875-fs: .875rem;
    --normal-font-size: .75rem;
    --tiny-font-size: .625rem;

    /*========== Font weight ==========*/
    --font-thin: 100;
    --font-extralight: 200;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;

    /*========== z index ==========*/
    --z-after: -1;
    --z-img: 1;
    --z-fixed: 10;
    --z-menu: 100;

    /*========== Grid ==========*/
    --grid-color: hsl(255, 22%, 6%);
    --grid-size: 60px;
}

/*=============== RESPONSIVE ===============*/
@media screen and (min-width: 1024px) {
    :root {
        --normal-font-size: .75rem;
    }
}