.clock {
    position: fixed;
    top: 2rem;
    right: 2rem;
    font-size: 40px;
    font-weight: var(--font-bold);
    border-radius: 1rem;
    background-color: var(--alt-color);
    transition: all 0.5s;
}

.clock__box {
    padding: .75rem;
    border-radius: .5rem;
    background-color: var(--dark-black);
}