.projects {
    position: absolute;
    top: 100px;
    left: 200px;
    width: 460px;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--first-color);
}

.projects__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    width: 100%;
    height: 2.5rem;
    border-radius: .5rem .5rem 0 0;
    background-color: var(--first-color);
}

.projects__title {
    font-weight: var(--font-bold);
    font-size: var(--r125-fs);
    color: var(--body-color);
}

.projects__main {
    margin-top: 40px;
    height: calc(100% - 52px);
}

.projects__table {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    color: var(--ice);
    font-size: var(--r1-fs);
}

thead,
tbody {
    display: block;
}

thead {
    border-bottom: 1px solid var(--ice);
}

.tb__header {
    display: grid;
    grid-template-columns: 15% 50% 35%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "tbhNumber tbhName tbhTech";
}

.tbhNumber {
    grid-area: tbhNumber;
}

.tbhName {
    grid-area: tbhName;
}

.tbhTech {
    grid-area: tbhTech;
}

th,
td {
    padding: 8px;
}

th {
    font-weight: bold;
}

tbody {
    height: calc(100% - 56px);
    overflow-y: auto;
    overflow-x: auto;
}

.tb__row {
    display: grid;
    grid-template-columns: 15% 50% 35%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "tbhNumber tbhName tbhTech";
}

.tbhNumber {
    grid-area: tbhNumber;
}

.tbhName {
    grid-area: tbhName;
}

.tbhTech {
    grid-area: tbhTech;
}

.tb__row:hover {
    color: var(--dark-purple);
    background-color: var(--blue);
}

thead tr th:nth-child(1) {
    cursor: pointer;
}

thead tr th:nth-child(2) {
    text-align: left;
    padding-left: 2rem;
    cursor: pointer;
}

thead tr th:nth-child(3) {
    cursor: pointer;
}

.tbr__number,
.tbr__name,
.tbr__tech {
    cursor: pointer;
}

.tbr__number {
    text-align: center;
}

.css-19kzrtu {
    width: 100%;
    padding: 0 !important;
}

