.tabs__label {
    display: flex;
    align-items: flex-end;
    font-size: .75rem;
    gap: .5rem;
    height: 1rem;
}

.tab__button:hover {
    background-color: var(--dark-grey);
}

.icon__label {
    font-size: .75rem;
    font-weight: var(--font-medium);
    padding: .125rem;
    border-radius: .125rem;
    background-color: var(--blue);
}

.tabs__list {
    margin: 0;
    padding: .5rem;
    width: 296px;
    height: 220px;
    border-top: 2px solid var(--second-color);
    border-right: 2px solid var(--second-color);
    border-bottom: 2px solid var(--second-color);
}

.tabs__item {
    font-family: var(--first-font);
    font-weight: var(--font-semibold);
    color: var(--second-color);
    padding: .5rem 1rem;
}

.tabs__item:hover {
    color: var(--first-color);
    background-color: var(--second-color);
    cursor: pointer;
}